src/main/webapp/wsdl/Y_HS_TEST104B_soap12.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="BN__Y_HS_TEST104B">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__Y_HS_TEST104B_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__Y_HS_TEST104">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>4E250FB7367D00B7E10080000A6A400B</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__YWmTest104">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

<wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1"/>
        </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"/>
        </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18"/>
        </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3"/>
        </xsd:restriction>
</xsd:simpleType>
</xsd:schema>

<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
<xsd:element name="YWmTest104">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IEingabe" type="n0:char1"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<!-- <xsd:element name="YWmTest104Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EMaktx" type="n0:char20"/>
<xsd:element name="EMatnr" type="n0:char18"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element> -->
<xsd:element name="YWmTest104Response">
<xsd:complexType>
   
    <xsd:attribute name="EMaktx" type="n0:char20"/>
    <xsd:attribute name="EMatnr" type="n0:char18"/>
    <xsd:attribute name="EMenge" type="n0:char3"/>
    <xsd:attribute name="EVlpla" type="n0:char10"/>
    <xsd:attribute name="EVltyp" type="n0:char3"/>
    
  </xsd:complexType>
</xsd:element> 
</xsd:schema>
</wsdl:types>

<wsdl:message name="YWmTest104">
<wsdl:part element="tns:YWmTest104" name="parameters"/>
</wsdl:message>
<wsdl:message name="YWmTest104Response">
<wsdl:part element="tns:YWmTest104Response" name="parameter"/>
</wsdl:message>

<wsdl:portType name="Y_HS_TEST104">
<wsp:Policy>
      <wsp:PolicyReference URI="#IF__Y_HS_TEST104"/>
    </wsp:Policy>
<wsdl:operation name="YWmTest104">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__YWmTest104"/>
      </wsp:Policy>
<wsdl:input message="tns:YWmTest104"/>
<wsdl:output message="tns:YWmTest104Response"/>
</wsdl:operation>
  </wsdl:portType>

<wsdl:binding name="Y_HS_TEST104B" type="tns:Y_HS_TEST104">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__Y_HS_TEST104B"/>
</wsp:Policy>
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="YWmTest104">
<soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Y_HS_TEST104:YWmTest104Request" style="document"/>
<wsdl:input>
        <soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
        <soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>


<wsdl:binding name="Y_HS_TEST104B_soap12" type="tns:Y_HS_TEST104">
<wsp:Policy>
      <wsp:PolicyReference URI="#BN__Y_HS_TEST104B_soap12"/>
</wsp:Policy>
<wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="YWmTest104">
<wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Y_HS_TEST104:YWmTest104Request" style="document"/>
<wsdl:input>
        <wsoap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsoap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>

<wsdl:service name="Y_HS_TEST104">
<wsdl:port binding="tns:Y_HS_TEST104B" name="Y_HS_TEST104B">
<soap:address location="http://localhost:8081/Product/services/Y_HS_TEST104B"/>
</wsdl:port>
<wsdl:port binding="tns:Y_HS_TEST104B_soap12" name="Y_HS_TEST104B_soap12">
<wsoap12:address location="http://d3aweb.md-man.biz:8020/sap/bc/srt/rfc/sap/y_hs_test104/300/y_hs_test104/y_hs_test104b"/>
</wsdl:port>
</wsdl:service>

</wsdl:definitions>
